.homepage {
    display: flex;
    min-height: 100vh;
}
.side-bar {
    flex: .35;
    border-right: 1px solid rgba(229,229,229);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
    justify-content: space-between;
}
.chat-bar {
    flex: 1.5;
    border-right: 1px solid rgba(229,229,229);
}
.chat-container {
    display: flex;
    flex-direction: column;
    flex: 6;
}
.top-half {
    display: flex;
    flex-direction: column;
}
.icon {
    padding: .5em;
    border-radius: .2em;
}
.friends {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.all-friends {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.friend-title {
    flex: 1;
    font-size: 1.5em;
    font-weight: bolder;
}
.friend-container {
    flex: 8;
}
.potential-friends, .friend-requests, .pending-requests{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.potential-friends-title, .friend-request-title, .pending-request-title {
    font-size: 1.5em;
    font-weight: bold;
    border-bottom: 1px solid grey;
}

.potential-friend, .friend-request, .pending-request,.friend-container {
    display: flex;
    padding: 1em;
    border-radius: 1em;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
}
.first-half {
    display: flex;
    align-items: center;
    gap: .5em;
}
.second-half {
    display: flex;
    gap: .5em;
}
.profile-pic {
    height:2em;
    border-radius: 1em;
}


.chat {
    padding: 1em;
    font-weight: bolder;
}
.chat-title {
    font-size: 1.5em;
}
.friends-chat {
    display: flex;
    flex-direction: column;
}
.chat-friend-container {
    display: flex;
    align-items: center;
    padding: .3em;
    gap: 1em;
    border: 1px solid grey;
    border-radius: 1em;
}

.chat-header {
    padding: 1em;
    display: flex;
    gap: 1em;
    border-bottom: 1px solid rgb(234,234,234);
    align-items: center;
}
.chat-body {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-bottom: 1px solid black;
}
.chat-footer {
    display: flex;
    padding: .5em;
}
form {
    display: flex;
    width: 100%;
}
.message {
    flex: 8;
    border: none;
    background-color: rgb(243,243,243);
    border-radius: 1em;
    padding: 1em;
    font-size: 1.1rem;
}
.message::placeholder{
    color: rgb(101,103,107);
}
.submit{
    flex:1
}