.homepage {
    display: flex;
    min-height: 100vh;
}
.side-bar {
    flex: .35;
    border-right: 1px solid rgba(229,229,229);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
    justify-content: space-between;
}
.chat-bar {
    flex: 1.5;
    border-right: 1px solid rgba(229,229,229);
}
.chat {
    flex: 6;
}
.top-half {
    display: flex;
    flex-direction: column;
}
.icon {
    padding: .5em;
    border-radius: .2em;
}
.friends {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.all-friends {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.friend-title {
    font-size: 1.3em;
    border-bottom: 1px solid black;
    font-weight: bolder;
}
.potential-friends, .friend-requests, .pending-requests{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.potential-friends-title, .friend-request-title, .pending-request-title {
    font-size: 1.3em;
    font-weight: bold;
    border-bottom: 1px solid grey;
}

.potential-friend, .friend-request, .pending-request,.friend-container {
    display: flex;
    padding: 1em;
    border: 1px solid black;
    border-radius: 1em;
    align-items: center;
    justify-content: space-between;
}
.first-half {
    display: flex;
    align-items: center;
    gap: .5em;
}
.second-half {
    display: flex;
    gap: .5em;
}
.profile-pic {
    height:2em;
    border-radius: 1em;
}
